@model IEnumerable<Motorcycle>

@{
    ViewData["Title"] = "Motorcycles";
}

<h1>Motorcycles</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Motorcycle</a>
</p>
<table class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnginePower)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnginePower)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id = item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
